# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
.env.*
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Test & tooling
.coverage
.pytest_cache/
.mypy_cache/
.pytype/
ruff_cache/
.cache/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Logs
*.log
